/* Estilos para a seção de livros */
.books-container {
 /*    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 200px 200px 200px;
  }

  /* Estilos para cada livro */
  .book-item {
    max-width: calc(25% - 20px);
    margin: 0;
    padding: 0;
    list-style:none;
    display: grid;
  }

  .div-cont{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
  }
  
  /* Estilos para a imagem do livro */
  .book-cover {
    width: 100%;
    height: auto;
    cursor: pointer;
  }
  
  /* Estilos para o título do livro */
  .book-title {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
  }
  
  /* Estilos para a descrição do livro */
  .book-description {
    font-size: 0.9em;
    margin-top: 5px;
    color: #666;
  }
  
  /* Estilos para dispositivos menores (responsivo) */
  @media screen and (max-width: 768px) {
    .book-item {
      width: calc(50% - 10px); /* 50% de largura para 2 livros na horizontal */
    }
  }
  
  @media screen and (max-width: 480px) {
    .book-item {
      width: 100%; /* 100% de largura para 1 livro na horizontal */
    }
  }